<header class="header">
    <div class="header__logo">
      <ul class="arriba">
        <li>
          <img src="../../assets/img/logo.jpg" alt="Logo">
        </li>
        <li>
          <li class="search-bar">
            <input type="text" id="buscar" placeholder="Buscar">
            <button type="submit" id="buscar-btn"><img src="../../assets/img/lupa.png" alt="Buscar" class="lupita"></button>
        </li>
        <li>
          <a routerLink="/login"><img src="../../assets/img/usuario.png" alt="" class="usuario"></a>
        </li>
        <li>
          <a href=""><img src="../../assets/img/carrito.png" alt="" class="carrito"></a>
        </li>
      </ul>
    </div>
    <nav class="header__nav">
      <div class="header3">
        <ul class="menu3">
            <li><a routerLink="/home">Inicio</a></li>
            <li><a href="">Hardware</a></li>
            <li><a href="">Gabinetes</a></li>
            <li><a href="">Monitores</a></li>
            <li><a href="">Mouses</a></li>
            <li><a href="">Teclados</a></li>
            <li><a href="">Accesorios</a></li>
            <li><a routerLink="/quienes-somos">¿Quienes Somos?</a></li>
        </ul>
      </div>
    </nav>
  </header>