<div class="footer">
    <div class="div1"><img src="../../assets/img/logo.jpg" alt="" ></div>
    <div class="div2">
        <div class="yo-container">
            <img src="../../assets/img/cha.png" alt="">
        <span class="spano">© 2023 mousecat. Todos los derechos reservados.</span>
        </div>
        </div>
    <div class="div3">
        <div class="section-conta">
            <h4>Redes Sociales</h4>
            <div class="wrapper">
                <ul>
                    <li class="youtube"><a target="_blank" href="https://www.youtube.com/@Player2.oficial"><i class="fab fa-youtube fa-2x" aria-hidden="true"></i></a></li>
                    <li class="twitter"><a target="_blank" href="https://twitter.com/player2cl?s=21"><i class="fab fa-twitter fa-2x" aria-hidden="true"></i></a></li>
                    <li class="tiktok"><a target="_blank" href="https://www.tiktok.com/@player2.cl"><i class="fab fa-tiktok fa-2x" aria-hidden="true"></i></a></li>
                    <li class="instagram"><a target="_blank" href="https://www.instagram.com/player2.cl/"><i class="fab fa-instagram fa-2x" aria-hidden="true"></i></a></li>                    
                    <li class="discord"><a target="_blank" href="https://discord.gg/6TnQjRrh"><i class="fab fa-discord fa-2x" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>