.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px;
}


.contenedor img {
    max-width: 90%;
    height: auto;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px){
    .contenedor{
        display: none;
    }
}
