<header>
    <div>
        <a href="#"><img class="logo" src="../../../assets/img/logo.jpg" alt="logo"></a>
    </div>
    <button (click)="setActive()" class="abrir-menu"><img class="logomenu" src="../../../assets/img/menuicon.png" alt="logomenu"></button>
    <nav class="nav-container"[ngClass]="{'visible': active }" id="nav">
        <button (click)="setOff()" class="cerrar-menu" id="cerrar"><img class="logomenu2" src="../../../assets/img/cerrarmenu.png" alt="logomenu"></button>
        <ul class="nav-list">
            <li><a href="">Inicio</a></li>
            <li><a href="">Hardware</a></li>
            <li><a href="">Gabinetes</a></li>
            <li><a href="">Monitores</a></li>
            <li><a href="">Mouses</a></li>
            <li><a href="">Teclados</a></li>
            <li><a href="">Accesorios</a></li>
            <li><a href="">¿Quienes Somos?</a></li>
        </ul>
    </nav>
</header>