
<div class="contenedor">
    <div class="item">
        <img src="../../../assets/img/pal-slider/centro-de-ayudaa.jpg">
        <h2 id="hola">Centro de ayuda</h2>
    </div>
    <div class="item">
        <img src="../../../assets/img/pal-slider/garantias.jpg">
        <h2>Garantias</h2>
    </div>
    <div class="item">
        <img src="../../../assets/img/pal-slider/pagos.jpg">
        <h2>Pagos</h2>
    </div>
    <div class="item">
        <img src="../../../assets/img/pal-slider/envios.jpg">
        <h2>Envios</h2>
    </div>
</div>
