.contenedor {
    display: flex; /* Utilizamos flexbox para alinear los divs horizontalmente */
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content:end;/* Colocamos el h2 al final del div */
    align-items: center;
    width: 25%;
    border-left: 1px solid #ccc; /* Borde izquierdo */
    border-right: 1px solid #ccc;
    cursor: pointer;
}


.item img {
    display: block; /* Para eliminar el espacio debajo de la imagen */
    width: 150px;
}

@media (max-width: 700px){

    .item img{
        width: 80px;
    }
    .item h2{
        font-size: 20px;
    }

    #hola{
        font-size: 12px;
    }
}