<section class="product"> 
    <h2 class="product-category">OFERTAS</h2>
    <button class="pre-btn"><img src="../../../assets/img/images/arrow.png" alt=""></button>
    <button class="nxt-btn"><img src="../../../assets/img/images/arrow.png" alt=""></button>
    <div class="product-container">
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">10% off</span>
                <img src="../../../assets/img/images/card1.jpg" class="product-thumb" alt="">
                <button class="card-btn">Añadir al carrito</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">PC GAMER</h2>
                <p class="product-short-description">a PC Gamer SP Draco, i3-13100F, RTX 3050, RAM 16GB (2x8), SSD 960GB, 600W, W11H</p>
                <span class="price">$899.999</span><span class="actual-price">$999.999</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">38% off</span>
                <img src="../../../assets/img/images/card2.jpg" class="product-thumb" alt="">
                <button class="card-btn">Añadir al carrito</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">PC GAMER</h2>
                <p class="product-short-description">PC Gamer Arena, Ryzen 5 5600X, RTX 3060Ti, RAM 16GB (2x8), SSD 1TB, 700W, W11 Home</p>
                <span class="price">$1.329.990</span><span class="actual-price">$1.499.000</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">38% off</span>
                <img src="../../../assets/img/images/card3.jpg" class="product-thumb" alt="">
                <button class="card-btn">Añadir al carrito</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">PC GAMER</h2>
                <p class="product-short-description">PC Gamer Ward, Ryzen Pro 4650G, Radeon RX Vega 7, RAM 16GB (2x8), SSD 480GB, W10H</p>
                <span class="price">$499.990</span><span class="actual-price">$799.990</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">55% off</span>
                <img src="../../../assets/img/images/card4.jpg" class="product-thumb" alt="">
                <button class="card-btn">Añadir al carrito</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">RAM</h2>
                <p class="product-short-description">Unidad de Estado Sólido Kingston NV2, 1TB NVMe, PCIe 4.0, Lectura 3500 MB/s Escritura 2100 MB/s</p>
                <span class="price">$49.990</span><span class="actual-price">$109.990</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">43% off</span>
                <img src="../../../assets/img/images/card5.jpg" class="product-thumb" alt="">
                <button class="card-btn">Añadir al carrito</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">Monitor</h2>
                <p class="product-short-description">Monitor Gamer Titan Army 24A2G, FHD (1920x1080), 165Hz, Panel IPS, 1ms, HDMI, DisplayPort</p>
                <span class="price">$199.990</span><span class="actual-price">$208.990</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">30% off</span>
                <img src="../../../assets/img/images/card6.jpg" class="product-thumb" alt="">
                <button class="card-btn">Añadir al carrito</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">notebook</h2>
                <p class="product-short-description">Notebook XPG Xenia 14, i5-1135G7, Ram 16GB, SSD 512GB, Led 14" FHD, Windows 10</p>
                <span class="price">$699.990</span><span class="actual-price">$731.490</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">53% off</span>
                <img src="../../../assets/img/images/card7.jpg" class="product-thumb" alt="">
                <button class="card-btn">Añadir al carrito</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">ram</h2>
                <p class="product-short-description">Memoria RAM Corsair Vengeance RGB Pro, DDR4, 8GB, 3200Mhz, DIMM</p>
                <span class="price">$29.250</span><span class="actual-price">$59.990</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% off</span>
                <img src="../../../assets/img/images/card8.jpg" class="product-thumb" alt="">
                <button class="card-btn">Añadir al carrito</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">audifonos</h2>
                <p class="product-short-description">Audífonos Gamer Corsair HS60 Haptic, Cableado, PC, Estéreo, Color Carbon </p>
                <span class="price">$44.990</span><span class="actual-price">$119.990</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">11% off</span>
                <img src="../../../assets/img/images/card9.jpg" class="product-thumb" alt="">
                <button class="card-btn">Añadir al carrito</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">pc gamer</h2>
                <p class="product-short-description">PC Gamer Vertex, I7-12700K, RTX 4070 Ti, 32GB Ram (4x8), WC Cooling, 1TB SSD M.2, W11H</p>
                <span class="price">$2.499.990</span><span class="actual-price">$2.799.990</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">17% off</span>
                <img src="../../../assets/img/images/card10.jpg" class="product-thumb" alt="">
                <button class="card-btn">Añadir al carrito</button>
            </div>
            <div class="product-info">
                <h2 class="product-brand">oculus</h2>
                <p class="product-short-description">Meta Quest 2, Realidad Virtual AIO, 128GB, Incluye Resident Evil 4, Blanco</p>
                <span class="price">$499.990</span><span class="actual-price">$599.990</span>
            </div>
        </div>
    </div>
</section>