<div class="big-container">
    <div class="left">
        <div class="arriba"><img src="../../assets/img/candado.png" alt=""></div>
        <div class="abajo">
            <div class="nope-uwu">
                <img src="../../assets/img/restringido.png" alt="">
                <div class="contenedor-textos">
                    <h1 class="titulo">
                        Acceso Restringido
                    </h1>
                    <span>
                        No tienes permitido acceder a esta página.
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="right"><img src="../../assets/img/unauthorizedCat.png" alt=""></div>
</div>

<app-footer></app-footer>


