
.img1{
  margin-top: 6em;
  margin-bottom: 6em;
}

.img2 {
  display: none;
}

@media screen and (max-width: 700px) {
  .img1{
    display: none;
  }

  .img2{
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
    height: auto;
    display: block;
  }
}