<div class="container">
    <div class="slider" id="slider">
        <div class="slider_item">
                <img src="../../../../assets/img/carousel/foto1.jpg" alt="" class="imagen-slider">
        </div>
        <div class="slider_item">
                <img src="../../../../assets/img/carousel/foto2.jpg" alt="" class="imagen-slider">
        </div>
        <div class="slider_item">
                <img src="../../../../assets/img/carousel/foto3.jpg" alt="" class="imagen-slider">
        </div>
        <div class="slider_item">
                <img src="../../../../assets/img/carousel/foto4.jpg" alt="" class="imagen-slider">
        </div>
    </div>
    <div class="slider_btn slider_btn--left" id="btn-left">&lt;</div>
    <div class="slider_btn slider_btn--right" id="btn-right">&gt;</div>
</div>

