<section class="product">
  <h2 class="product-category">LAS MEJORES MARCAS</h2>
  <button class="pre-btn">
    <img src="../../../assets/img/images/arrow.png" alt="" />
  </button>
  <button class="nxt-btn">
    <img src="../../../assets/img/images/arrow.png" alt="" />
  </button>
  <div class="product-container">
    <div class="product-card">
      <div class="product-image">
        <a href=""><img src="../../../assets/img/pa-las-marcas/1xd.png" class="product-thumb" alt=""/></a>
      </div>
    </div>
    <div class="product-card">
      <div class="product-image">
        <a href=""><img src="../../../assets/img/pa-las-marcas/2xd.png" class="product-thumb" alt=""/></a>
      </div>
    </div>
    <div class="product-card">
      <div class="product-image">
        <a href=""><img src="../../../assets/img/pa-las-marcas/3xd.png" class="product-thumb" alt=""/></a>
      </div>
    </div>
    <div class="product-card">
      <div class="product-image">
        <a href=""><img src="../../../assets/img/pa-las-marcas/4xd.png" class="product-thumb" alt=""/></a>
      </div>
    </div>
    <div class="product-card">
      <div class="product-image">
        <a href=""><img src="../../../assets/img/pa-las-marcas/5xd.png" class="product-thumb" alt=""/></a>
      </div>
    </div>
    <div class="product-card">
      <div class="product-image">
        <a href=""><img src="../../../assets/img/pa-las-marcas/6xd.png" class="product-thumb" alt=""/></a>
      </div>
    </div>
    <div class="product-card">
      <div class="product-image">
        <a href=""><img src="../../../assets/img/pa-las-marcas/7xd.png" class="product-thumb" alt=""/></a>
      </div>
    </div>
    <div class="product-card">
      <div class="product-image">
        <a href=""><img src="../../../assets/img/pa-las-marcas/8xd.png" class="product-thumb" alt=""/></a>
      </div>
    </div>
    <div class="product-card">
      <div class="product-image">
        <a href=""><img src="../../../assets/img/pa-las-marcas/4xd.png" class="product-thumb" alt=""/></a>
      </div>
    </div>
    <div class="product-card">
      <div class="product-image">
        <a href=""><img src="../../../assets/img/pa-las-marcas/1xd.png" class="product-thumb" alt=""/></a>
      </div>
    </div>
  </div>
</section>
